body {
  margin: 50px 100px 0px 100px;
  align-items: center;
  font-family: "Trip Sans Reg";
}
/***********GENERAL**************/
.buton-black {
  background: black;
  font-weight: bold;
  color: #fff;
}
/************HEADER**************/
header {
  display: flex;
  justify-content: space-between;
}
header > div img {
  height: 50px;
}
header p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}
header nav {
  display: flex;
  align-items: center;
}
header nav div {
  display: flex;
  margin: 0 10px;
}
header button {
  border-radius: 25px;
  height: 30px;
  margin-left: 10px;
}
/************MAIN***************/

/***********FOOTER**************/
